
/* ==================================================
   Section 1
================================================== */

header {
  height: 65vh;
  position: relative;
}

@media (min-width: 576px) {
  header {
    height: 100vh;
  }
}

.nav {
  text-align:right;
  position: relative;
  padding: 0;
  margin: 0 auto;
  display: block;
}

.nav a, a:hover, a:active a:link, a:visited {
  text-decoration: none!important;
}

.nav__item {
  display: inline-block;
  margin: 3% 2%;
  position: relative;
}

.nav__link {
  font-family: space_groteskbold;
  font-size: 1rem;
  font-weight: 400;
  color: #3C97F6;
  text-decoration: none;
}

.nav__bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: inline-block;
  border-bottom: 2px solid #3b3b3b;
  opacity: 0;
}

.nav__item:hover .nav__link {
  color: #37BB78;
}

.nav__logo, .nav__logo p {
  font-family: space_groteskbold;
  font-size: 1.2rem;
  letter-spacing: 1px;
  float: left;
  margin: 3% 2%;
  color: #3C97F6;
}

.heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: 0;
}

.heading h1 {
    white-space: nowrap;
    overflow: hidden;
}
.span__green {
  color: #37BB78;
}

.span__blue {
  color: #3C97F6;
  margin-left: 1px;
}

.heading h1 {
}
@media (min-width: 768px) {

/*  .header__wrapper--heading h1 {
    -webkit-animation: slideUp 1.2s cubic-bezier(0.165, 0.84, 0.44, 1) 1.2s both;
    animation: slideUp 1.2s cubic-bezier(0.165, 0.84, 0.44, 1) 1.2s both;
  }

  .header__wrapper--heading h2 {
    right: 0%;
    -webkit-animation: slideUp 1.2s cubic-bezier(0.165, 0.84, 0.44, 1) 1.2s both;
    animation: slideUp 1.2s cubic-bezier(0.165, 0.84, 0.44, 1) 1.2s both;
  }*/

}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

/* ==================================================
   Section 2
================================================== */
@media (max-width: 575.98px) {
  .intro h2 {
    padding-left: 5%;
    margin-bottom: 0px;
  }
}

.intro__img > img {
  padding: 15px;
  max-width: 90%!important;
  height: auto;
  border-radius: 0.5%;
  -webkit-filter: grayscale(80%) contrast(110%);
  filter: grayscale(80%) contrast(110%);
}

.intro__img > img:hover  {
  -webkit-filter: grayscale(0%) contrast(100%);
  filter: grayscale(0%) contrast(100%);
}

@media (min-width: 576px) {
  .intro__text {
    word-spacing: -2px;
  }

  .intro__img > img {
    max-width: 100%!important;
  }

  .intro__img {
    padding: 0;
  }
}

@media (min-width: 768px) {
  h3 {
    max-width: 90%
    margin: auto;
  }
  .intro__text {
    max-width: 80%;
  }

  .intro__text > p, .intro__text > h3, .intro__text > h4 {
    max-width: 80%;
    margin: auto;
  }
}

@media (min-width: 992px) {
.intro__img > img {
  max-width: 90%!important;
  }
}

@media (min-width: 1200px) {
  .intro__text {
    padding: 5%;
    max-width: 80%;
  }
}

@media (min-width: 1300px) {
.intro__img > img {
  max-width: 80%!important;
  padding: 0 30px;
  vertical-align: middle;
  }
}

/* ==================================================
   Section 3
================================================== */
.portfolio {
  z-index: -2;
}

.col-lg-7, .col-md-7, .col-sm-7 {
  z-index: -1;
}

.portfolio .row {
  padding-bottom: 15px;
}

.portfolio .col{
  display: flex;
  align-items: center;
}

.c-card p {
  font-size: 0.95rem;
  font-weight: 300;
  line-height: 1.4;
  text-align: left;
  background-color: white;
}

.c-card h3 {
  font-size: 1.4rem;
}

.xs-visible {
  display: block;
  padding: 0 15px;
}

.xs-hidden {
  display: none;
}

.c-card__text--left {
  padding-left:2%;
  padding-bottom: 2%;
}

.c-card__text--right {
  padding-left: 2%;
  padding-top: 3%;
}

.c-card__link {
  width: 100%;
  position: relative;
  height: auto;
  background: #ECF0EE;
  text-align: center;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
}

.c-card__link--right {
  float: right;
}

.c-card__link--left {
  float: left;
}


@media (min-width: 576px) and (max-width: 991.98px) {
  .c-card__text--left {
    padding: 0 0 5% 0;
  }

  .c-card__text--right {
    padding: 0 5% 0 0;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .c-card h3 {
    font-size: 1.7rem;
  }

  .c-card__text--left {
    padding: 0 0 20% 0;
  }

  .c-card__text--right {
    padding: 0 20% 0 0;
  }
}

@media (min-width: 576px) {
  .xs-visible {
    display: none;
  }

  .xs-hidden {
    display: inline-block;
  }

  .c-card__link {
    width: 90%;
    height: auto;
    text-align: center;
    margin-bottom: 20px;
  }

  .c-card__link:hover img {
  -webkit-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transform: scale(1.04);
  }
}

@media (min-width: 768px) {
  .c-card__link img {
    padding: 13% 16%;
  }

  .c-card p {
  font-size: 1rem;
  }
}

@media (min-width: 992px) {
  .c-card p {
    z-index: 1;
    margin-right: -40%;
    margin-left: 10%;
    padding: 50px;
  }
  .c-card h3 {
    font-size: 1.9rem;
  }
  .c-card__text--left {
    padding-left: 25%;
  }

  .c-card__text--right {
    padding-right: 25%;
  }
}

@media (min-width: 1200px) {
    .c-card__link img {
    width: 90%;
  }
}


/* ==================================================
   Section 4 & Footer
================================================== */
.contact a {
  display: inline-block;
}

.contact ul {
  font-size: 1.3em;
  letter-spacing: 5px;
  padding-top: 4%;
}

.contact p {
  text-align: left;
  word-spacing: 2px;
}

.footer a {
  color: #434343!important;
  -webkit-transition: all 0.3s ease!important;
  -o-transition: all 0.3s ease!important;
}

.footer a:hover  {
  color:#D6D200!important;
  -webkit-transition: all 0.3s ease!important;
  -o-transition: all 0.3s ease!important;
}

/*footer .wrapper {
  padding: 20px 15px 0 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}
footer p {
  font-size: 13px;
  color: #98999A;
  width: 100%;
  text-align: right!important;
}*/






