/*@media only screen and (max-width : 768px) {
    .animated {
        CSS transitions
        -o-transition-property: none !important;
        -moz-transition-property: none !important;
        -ms-transition-property: none !important;
        -webkit-transition-property: none !important;
        transition-property: none !important;
        CSS transforms
        -o-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -webkit-transform: none !important;
        transform: none !important;
        CSS animations
        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
    }
*/
/* ==================================================
   General
================================================== */

/** {

  transition: all 10s ease!important;
  -webkit-transition: all 10s ease!important;
}*/

html {
  scroll-behavior: smooth;
  font-size: 100%;
}

body {
  padding: 0%;
  background-color: #F4FAFA;
  -webkit-font-smoothing: antialiased;
}

@media (min-width: 576px) {
   body {
  padding: 2.5%;
  }
}

.container {
  padding: 5px;
  max-width: 93%;
}

@media (min-width: 992px) {
  .container {
  }
}

section {
  height: 100%;
  position: relative;
/*  background-color: #f8f9f9;
*/background-color: #F4FAFA;
}

/*CHECK CHECK CHECK CHECK CHECK CHECK CHECK CHECK CHECK CHECK CHECK CHECK
*/@media (max-width: 575.98px) {
   section {
  margin: 0;
  }
}

/*hr {
  width: 13%;
  border-top: 6px solid #d8e3e0;
  margin: 1.5% 0 1.5% 0;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

@media (max-width: 575.98px) {
  section:nth-child(2) hr {
    width: 0;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
   hr {
  width: 0%;
  }
}

@media (min-width: 992px) {
  hr {
    width: 5%;
  }
}
*/

/*.underline {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: black;
  text-underline-position: under;
  text-decoration-skip-ink: none
}*/


a, a:link, a:active, a:visited {
  color: #BDBA00;
  text-decoration: none;
}

.row {
padding-bottom: 8%;
}

.wrapper--text {
  padding: 0px;
}

@media (min-width: 768px) {
  .wrapper--text {
    padding: 15px;
  }
}
  /*CHECK CHECK CHECK CHECK CHECK CHECK CHECK CHECK CHECK CHECK CHECK CHECK */

#section-1, #section-2, #section-3 {
  padding-top: 3%;
}

@media (max-width: 575.98px) {
  .row {
    padding: 5%;
  }
}

* {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}


[data-aos] {
  body[data-aos-easing="new-easing"] &,
  &[data-aos][data-aos-easing="new-easing"] {
    transition-timing-function: cubic-bezier(.250, .250, .750, .750);
  }
}

/* ==================================================
   Typography
================================================== */

h1 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  letter-spacing:-1px;
  color: #333;
/*  text-shadow: -2px 1px rgba(0, 0, 0, 0.1);
*/}


h2 {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #BDBA00;
  letter-spacing: 1.5px;
  margin-left: -5px;
}

@media (min-width: 576px) {
  h2 {
    font-size: 24px;
    padding-left: 0px;
  }
}

@media (min-width: 768px) {
  h2 {
    font-size: 28px;
  }
}

h3 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: #434343;
}

@media (min-width: 768px) {
  p {
    font-size: 15px;
    line-height: 1.5em;
  }
}

p {
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.3em;
  color: #434343;
  text-align: justify;
}

@media (min-width: 768px) {
  p {
    font-size: 16px;
    line-height: 1.5em;
  }
}

/* ==================================================
   Change Color
================================================== */

/*section:nth-child(1) {
  background-color: #D4AF37;

  background-color: #f8f9f9;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}


.changeColor {
   background: #f8f9f9!important;
}

.changeColortext {
  color: #D4AF37!important;
}

.changeColortitle {
  color: #2D2C2F!important;
}
.displayNone {
  display: none;
}

hr {
  border-top: 6px solid #D4AF37;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;

}

section:nth-child(2) h2 {
/*  color: #D4AF37;
  color: #2D2C2F;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}*/

